#head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #f8f9fa;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}