#basic-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-group {
    margin: 10px;
}

#ticket-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

#submit-button {
    background-color: #3A5A78;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    cursor: pointer;
    margin-top: 1rem;
}

#add-on-header {
    font-size: 1.5rem;
    font-style: italic;
    margin: 10px;
}

#add-ons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-check {
    margin: 10px;
}

#gala-guest-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.gala-guest-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
}

#add-guest-button {
    background-color: #86B6A9;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#add-guest-button:hover {
    background-color: #7ba59a;
}

#remove-guest-button {
    background-color: #b68986;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 5px;
}

#remove-guest-button:hover {
    background-color: #a76f6f;
}

#masterclass-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.masterclass-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
}

#remove-masterclass-button {
    background-color: #b68986;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 5px;
}

#remove-masterclass-button:hover {
    background-color: #a76f6f;
}

#add-masterclass-button {
    background-color: #86B6A9;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#add-masterclass-button:hover {
    background-color: #7ba59a;
}

#price-text {
    font-size: 1.5rem;
    font-style: italic;
    margin: 10px;
}

#price-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#price-value {
    font-size: 1.5rem;
    font-weight: bold;
}